{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- # logo vsu icon  -->
    <link rel="icon" href="{% static 'images/logos.jpg' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    
    <title>::VSU_COLLEGE::</title>

  </head>
  <style>
    .nav-link{
      color: rosybrown;
      background-color:#FFFAFA;
      font-size: 18px;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="{% url 'main:home' %}">VSU University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" style="color:rgb(25, 10, 233)" href="{% url 'main:main' %}">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:rgb(121, 220, 233)" href="{% url 'main:home' %}">GRATINg</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:rgb(255, 0, 191)" href="{% url 'main:abt' %}">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:rgb(0, 82, 102)" href="#">MAIL SENDING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:rgb(255, 0, 149)" href="#">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:rgb(20, 29, 29)" href="{% url 'main:add_movies' %}">NEW COLLEGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color:rgba(103, 153, 88, 0.877)" href="{% url 'main:contact' %}">CONTACT</a>
            </li>



            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" style="color:rgb(2, 5, 5)"  href="#">My Profile</a>
      
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color:cyan"  href="{% url 'accounts:logout' %}">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" style="color:cyan"  href="{% url 'accounts:login' %}">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color:cyan" href="{% url 'accounts:register' %}">REGISTER</a>
            </li>
            {% endif %}

          </ul>
          <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'main:home' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="title">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

    {% block content %}


    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>