{% extends 'main/base.html' %}

{% block content %}
{% load static %}

  <style>
      .homepage{
          <!-- border-color: darkmagenta;
          border: 2px double darkblue;
          width: 100%;
          height: 100%; 
          background-images:url('https://cdn.pixabay.com/photo/2012/03/04/00/01/background-21717_960_720.jpg')
          background-repet:no-reper;
         
      }
body{
    background-image: url(https://cdn.pixabay.com/photo/2012/03/04/00/01/background-21717_960_720.jpg);
}
  </style>


<div class="class jumbotron">
    <div class="card">
        <div class="class card-body">
<img src="{% static 'images/vsu1.jpg' %}" alt="main page not visuble" class="homepage">
<h3>VSU COLLEGE</h3>
        </div>
    </div>
</div>

{% endblock content %}